/Single.class
/LazySingle.class
/Hungry.class
/HungrySingle.class
/Single$HungrySingle.class
/Single$LazySingle.class
/StaticClass.class
/StaticClassSingle.class
/StaticClassSingle$SingleHolder.class
/SingleInter.class
/SingleIter.class
/Single$Counter.class
/Counter.class
