/TestPrintWriterAndScanner.class
/Employee.class
/TestSerializable.class
/TestSerializable2.class
/TestSerializable2$HaveOwnWayToSerialize.class
/HaveOwnWayToSerialize.class
/TestExternalizable.class
/Point.class
/CloneTarget.class
/DeepCloneBySerializable.class
